server:
  port: 8086
  tomcat:
    threads:
      max: 200

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.ridehailing: INFO
